{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block monTitre %}Page d'Accueil {% endblock %}

{% block body %}

<h1></br></br>**** Le Colonel Fred vous présente son armée de barjots ****</h1>

{% endblock %}
